* {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: medium;
}

header {
  margin: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  position: relative;
  width: fit-content
}

input {
  border-radius: 5px;
  border-color: black;
}

form {
  display: flex;
  flex-direction: column;
}

.Margin-top {
  margin-top: 10px;
}

.Hidden {
  visibility: hidden;
}

.Button-loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: darkgrey;
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
  to {
    transform: rotate(360deg);
  }
}

.Container {
  width: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Content {
  margin: 10px;
}